.request {
  padding: 76px 0;
  background-color: $blue;
  margin-top: 45px;
  &__inner {
    text-align: center;
  }
}
// 930px
@mixin request-md-lg {
  .request {
    padding: 60px 0;
    margin-top: 30px;
  }
}
// 540px
@mixin request-xsm-sm {
  .request {
    padding: 55px 0;
    margin-top: 15px;
  }
}
.quiz {
  padding: 75px 0 250px;
  &__inner {
    &-title {
      text-align: center;
      margin-bottom: 75px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      position: relative;
      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 700;
        transform: translate(-50%, -50%);
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      & > p {
        max-width: 666px;
        margin: 0 auto 52px;
        text-align: center;
        b {
          font-weight: 700;
        }
      }
      h2 {
        margin-bottom: 64px;
      }
    }
    &-buttons {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .button {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
          margin: 0;
        }
      }
    }
    .progress {
      margin-bottom: 60px;
    }
  }
  &Item {
    width: calc(50% - 35px);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid $main;
    border-radius: 8px;
    padding: 38px 30px 60px;
    &__icon {
      width: 84px;
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 45px;
      img {
        width: 100%;
      }
    }
    h3 {
      margin-bottom: 40px;
    }
    & > p {
      max-width: 285px;
      margin-bottom: 50px;
    }
    .button {
      width: 100%;
      max-width: 340px;
      &.sm {
        max-width: 240px;
      }
    }
    .input {
      &__outer {
        width: 100%;
        max-width: 370px;
        margin-bottom: 32px;
        &.sm {
          width: 60%;
          max-width: 140px;
        }
        p {
          max-width: unset;
          text-align: center;
          margin: 0 0 10px 0;
          color: #707070;
        }
      }
      input {
        background-color: $blue;
        text-align: center;
      }
    }
  }
}
// 1180px
@mixin quiz-xlg-xxlg {
  .quiz {
    padding: 60px 0 200px;
  }
}
// 1024px
@mixin quiz-lg-xlg {
  .quiz {
  }
}
// 930px
@mixin quiz-md-lg {
  .quiz {
    padding: 50px 0 130px;
    &__inner {
      &-title {
        margin-bottom: 50px;
      }
    }
    &Item {
      padding: 20px 20px 35px;
      &__icon {
        width: 76px;
        height: 78px;
        margin-bottom: 30px;
      }
      h3 {
        margin-bottom: 30px;
      }
      & > p {
        margin-bottom: 30px;
      }
      .input {
        &__outer {
          margin-bottom: 22px;
        }
      }
    }
  }
}
// 750px
@mixin quiz-sm-md {
  .quiz {
    padding: 40px 0 80px;
    &__inner {
      &-title {
        margin-bottom: 30px;
      }
      &-row {
        flex-direction: column;
        h2 {
          position: static;
          transform: translate(0);
          margin: 30px auto;
          font-size: 28px;
        }
      }
      &-content {
        h2 {
          margin-bottom: 40px;
        }
        & > p {
          margin-bottom: 40px;
        }
      }
      &-buttons {
        max-width: 360px;
        .button {
          margin-bottom: 20px;
        }
      }
      .progress {
        margin-bottom: 40px;
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
    }
  }
}
// 650px
@mixin quiz-sm-md-extra {
  .quiz {
  }
}
// 540px
@mixin quiz-xsm-sm {
  .quiz {
  }
}
